:root {
  // Colors
  --cds-body-text-color: #{$dark-0};
  --cds-body-bg-color: #{$light-4};
  --cds-btn-primary-color: #{$light-4};
  --cds-btn-primary-bg: #{$primary};
  --cds-btn-primary-hover-bg: #{$primary-light};
  --cds-btn-primary-press-bg: #{$primary-dark};
  --cds-btn-primary-focus-bg: #{$primary};
  --cds-btn-primary-focus-outline: #{$blue-4};
  --cds-btn-positive-color: #{$light-4};
  --cds-btn-positive-bg: #{$green-1};
  --cds-btn-positive-hover-bg: #{$green-2};
  --cds-btn-positive-press-bg: #{$green-0};
  --cds-btn-positive-focus-outline: #{$green-4};
  --cds-btn-destructive-color: #{$light-4};
  --cds-btn-destructive-bg: #{$red-1};
  --cds-btn-destructive-hover-bg: #{$red-2};
  --cds-btn-destructive-press-bg: #{$red-0};
  --cds-btn-destructive-focus-outline: #{$red-4};
  --cds-btn-disabled-color: #{$light-0};
  --cds-btn-disabled-bg: #{$dark-4};
  --cds-btn-secondary-color: #{$dark-0};
  --cds-btn-secondary-bg: #{$light-4};
  --cds-btn-secondary-border: #{$primary};
  --cds-form-color: #{$dark-0};
  --cds-form-bg: #{$light-4};
  --cds-form-border: #{$dark-2};
  --cds-form-focus-border: #{$primary};
  --cds-form-focus-outline: #{$primary-light};
  --cds-form-error-color: #{$red-1};
  --cds-form-error-border: #{$red-1};
  --cds-label-sm-color: #{$primary};
  --cds-label-md-color: #{$primary};
  --cds-label-lg-color: #{$primary};

  // Typography
  --cds-body-font-size: #{$fs-base};
  --cds-body-font-weight: #{$fw-normal};
  --cds-body-lg-font-size: #{$fs-md};
  --cds-body-lg-font-weight: #{$fw-normal};
  --cds-h1-font-size: #{$h-1};
  --cds-h2-font-size: #{$h-2};
  --cds-h3-font-size: #{$h-3};
  --cds-h4-font-size: #{$h-4};
  --cds-h5-font-size: #{$h-5};
  --cds-h6-font-size: #{$h-6};
  --cds-h1-font-weight: #{$fw-bold};
  --cds-h2-font-weight: #{$fw-bold};
  --cds-h3-font-weight: #{$fw-bold};
  --cds-h4-font-weight: #{$fw-bold};
  --cds-h5-font-weight: #{$fw-bold};
  --cds-h6-font-weight: #{$fw-bold};
  --cds-label-sm-font-size: #{$fs-xs};
  --cds-label-md-font-size: #{$fs-sm};
  --cds-label-lg-font-size: #{$fs-base};
  --cds-label-sm-font-weight: #{$fw-medium};
  --cds-label-md-font-weight: #{$fw-medium};
  --cds-label-lg-font-weight: #{$fw-medium};
  --cds-display-1-font-size: #{$fs-2xl};
  --cds-display-2-font-size: #{$fs-3xl};
  --cds-lead-font-size: #{$fs-base};
  --cds-blockquotes-font-size: #{$fs-xl};
  --cds-capitalized-font-size: #{$fs-base};
  --cds-small-font-size: #{$fs-sm};
  --cds-tiny-font-size: #{$fs-xs};
  --cds-display-1-font-weight: #{$fw-bold};
  --cds-display-2-font-weight: #{$fw-normal};
  --cds-lead-font-weight: #{$fw-bold};
  --cds-blockquotes-font-weight: #{$fw-semibold};
  --cds-capitalized-font-weight: #{$fw-normal};
  --cds-small-font-weight: #{$fw-normal};
  --cds-tiny-font-weight: #{$fw-semibold};
  --cds-capitalized-letter-spacing: #{$ls-base};
  --cds-label-sm-letter-spacing: #{$ls-label-sm};
  --cds-label-md-letter-spacing: #{$ls-label-md};
}
